@page
@model VideosModel
@{
    ViewData["Title"] = "MOTI Camera Videos";
    Layout = null;
}
@*<h1>@ViewData["Title"]</h1>

<p>Show camera videos.</p>*@
<h1>Camera: @Model.CameraName</h1>

<video controls>
    <source src="test-1.mp4" type="video/mp4">
</video>
